/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.wrapper {
  background-color: #B2B2BC;
}

.wrapper_2 {
  background-image: url('../prizm_package.jpg'); ;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 520px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
     flex: 0 0 400px;
    padding: 30px;
    align-self: stretch;
    background: white;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

.share-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}

.pad-top {
  padding-top: 50px;
}
.border-line {
  border: 1px solid #8DE2E1;
}

.share-link-2 {
    flex: 0 0 4%;
    color: white;
    font-size: 18px;
    padding: 6px 2px 4px 3px;
    text-align: center;
    border-radius: 47px;
    cursor: pointer;
}

.bg-instagram {
  /* XMLID_17_: */
background-image: linear-gradient(0deg, #E09B3D 0%, #C74C4D 30%, #C21975 60%, #7024C4 99%);
}

.text-blank {
  color: white;
}

.blue_marz {
  background-color: black;
}